.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 4em;
  font-family: "Gill Sans", sans-serif;
  background-color: transparent;
  color: black;
  border-bottom: 1px solid #0000000f;
}


.navbar__list {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.navbar__item {
  margin-right: 20px;
}

.navbar__link {
  text-decoration: none;
  color: black; /* Set text color to black */
}

.navbar__logo img {
  width: 100px;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: black; /* Set background color to black */
  margin: 3px 0;
}
