.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #ffffff;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}

.content {
  width: 50%;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  color: #34373E;
}

.slogan-landing {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5;
}

.decouvert {
  font-weight: 600;
  font-size: 4rem;
  line-height: 4rem;
  color: #34373E;
}

.decouvert p:last-child {
  color: #FF3C6E;
  margin-bottom: -2rem;
  margin-left: -12%;
  margin-top: -53px;
}

.text {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25;
  text-align: justify;
  color: #000000;
}

/* .contact {
  display: block;
  margin-top: 20px;
  padding: 1rem 2rem;
  width: fit-content;
  background: #FF3C6E;
  border-radius: 999px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.3s ease;
} */

.contact:hover {
  background: #ff245a;
}

.phone {
  max-width: 100%;
  height: auto;
}

/* @media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .phone {
    margin-top: 20px;
  }
} */