* {
  margin: 0;
  padding: 0;
}

.landing-page {
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  overflow: hidden;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
  padding: 60px;
  min-height: 50vh;
  margin: 20px 0;
}

.content {
  width: 50%;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  color: #34373eb8;
}

.slogan-landing {
  font-weight: 1200;
  line-height: 1.5;
  margin: 15px 0px;
}

.decouvert {
  font-weight: bolder;
  font-size: 3rem;
  line-height: 4rem;
  color: #34373E;
}

.decouvert p {
  margin: 0;
}

.decouvert span:last-child {
  margin: 0 0 20px;
  color: #FF3C6E;
}

.text {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25;
  text-align: justify;
  color: #34373eb8;
  margin: 30px 0 15px;
}

.contact-button {
  background-color: #E71C6B;
  color: white;
  padding: 12px 16px;
  border-radius: 13px;
  border: none;
  font-family: "Gill Sans", sans-serif;
  font-size: 18px;
  margin: 20px 0;
  cursor: pointer;
}

.all-in-black button {
  margin: unset;
}


.contact-button:hover {
  background: #ff245a;
}

.phone {
  max-width: 100%;
  height: auto;
}

.deuxieme {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
}


.container {
  display: flex;
  /* 
  justify-content: center;
  align-items: center;
  text-align: center; */
  padding: 10px 65px;
  margin: 20px 0;
  width: 35%;
}

.six .container{
  width: 100%;
}

.left {
  flex: 1;
  padding: 10px;
}

.right {
  flex: 1;
  padding: 10px;
  text-align: left;
  margin-left: 40px;
  margin: 20px;
}

.left span {
  display: block;
  font-weight: 400;
  font-size: 0.8rem;
  color: white;
  margin: 5px 0;
  font-family: Poppins, sans-serif;
  text-align: start;
}

#contact-us span {
  font-size: 2rem;
}

.all-in span {
  display: block;
  font-weight: 600;
  font-size: 2rem;
  color: black;
  margin: 5px 0;
  font-family: Poppins, sans-serif;
  text-align: start;
}

.all-in-black {
  color: #FBFBFB;
}

.left span:nth-last-child(2) {
  color: #ff245a;
  margin: 0 0 20px;
}

.left p {
  color: #d3d3d3;
  font-family: Poppins, sans-serif;
  text-align: justify;
  font-size: 12px;
  line-height: 20px;
  font-weight: 100;
}

.all-in p {
  color: white;
  font-family: Poppins, sans-serif;
  text-align: start;
  font-size: 15px;
  line-height: 20px;
  font-weight: 50;

}

.deuxieme+.hero {
  margin-top: 0;
}

.right .contact-form {
  display: flex;
  flex-direction: column;
}

.right input {
  padding: 8px 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  background: #FBFBFB;
  font-family: Poppins, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #d3d3d3;
}

.right input::placeholder {
  color: rgb(176, 173, 173);
  text-transform: uppercase
}

.right button {
  background-color: #E71C6B;
  color: white;
  padding: 6px 30px;
  border: none;
  border-radius: 8px;
  font-family: "Gill Sans", sans-serif;
  font-size: 18px;
  cursor: pointer;
}

.right button:hover {
  background: #ff245a;
}

.button-container {
  margin-top: 10px;
  align-self: flex-end;
}

.additional-div {
  flex: 1;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
}

.colored {
  background: #02C2B3;
}

.right p {
  color: white;
  font-family: Poppins, sans-serif;
  text-align: start;
  font-size: 15px;
  line-height: 20px;
  font-weight: 50;
  text-align: justify;

}

.quote-saying {
  border: 1px solid CCCCCC;
  padding: 20px;
  border-radius: 8px;
}

.quote-icon {
  font-size: 50px;
  padding: 8px 0;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.container.with-quote {
  align-items: initial;
}

.container.with-quote p {
  color: black;
  margin: 10px 0;
}

.container.with-quote span {
  display: block;
  margin-bottom: 20px;
}

.container.with-quote span:nth-child(4),
.container.with-quote span:nth-child(5) {
  color: #E71C6B;
  margin: inherit;
}

span.highlighted-text {
  color: #E71C6B;
  text-decoration: underline;
}

.third .section-header {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: center;
  margin: 80px 0 20px;

}

.third .section-title {
  font-size: 3em;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.third .section-description {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

.third .grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  text-align: center;
  color: white;
  font-family: Poppins, sans-serif;
  font-weight: 400;
}

.third .grid-item {
  background-color: #000000;
  padding: 30px 20px;
  border-radius: 10px;
}

.third .grid-item:nth-child(1) {
  background-color: #E71C6B;
}

.third .grid-item:nth-child(3) {
  background-color: #E71C6B;
}


.third .grid-item h3 {
  font-weight: bolder;
  font-size: 2em;
}

.third .grid-item icon {
  font-family: cursive, sans-serif
}

.third .container {
  display: inherit;
}

.fourth {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.fourth .container {
  width: 50%;
  display: initial;
  color: white;
}

.fourth h2 {
  font-size: 3em;
  font-weight: bold;
  font-family: Poppins, sans-serif;
  margin: 40px 0 20px;
  text-align: start;
  line-height: 0.8;
  color: #333;
}

.fourth .grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.fourth .grid-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.fourth .grid-item {
  padding: 20px;
  border-radius: 10px;
  width: 45%;
  height: 250px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fourth .item1 {
  background-image: url('./item1.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.fourth .item2 {
  background-color: rgba(255, 60, 110, 1);
}

.fourth .item3 {
  background-color: rgba(2, 194, 179, 1);
}

.fourth .item4 {
  background-color: rgba(255, 199, 80, 1);
}

.fourth .item5 {
  background-image: url('./item5.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.fourth .item6 {
  background-image: url('./item6.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.fourth .container .all-in span {
  display: block;
  font-weight: 600;
  font-size: 3.5rem;
  color: #333;
  font-family: Poppins, sans-serif;
  text-align: start;
}

.fourth .container .all-in span:nth-child(3) {
  display: block;
  font-weight: 600;
  font-size: 2rem;
  color: #ff3c6e;
  font-family: Poppins, sans-serif;
  text-align: start;
  margin: 20px 0;
}

.fourth .container .all-in p {
  display: block;
  font-weight: 400;
  font-size: 17px;
  color: black;
  font-family: Poppins, sans-serif;
  text-align: start;
  line-height: 1.2;
  margin: 10px 0;
}

.fourth .container .table-without-table p {
  font-size: 12px;
  padding: 10px 0;
  /* text-align: center; */
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0;
}

.task-done-icon {
  font-size: 24px;
  margin-right: 10px;
  color: rgb(2 194 179 / 42%);
}

.icon-and-text {
  display: flex;
  align-items: center;
  border-top: 0.8px solid rgba(255, 216, 226, 1);
  border-bottom: 1px solid rgba(255, 216, 226, 1);
  padding: 5px 4px;
}

.fifth {
  background-color: white;
  text-align: center;
  padding: 40px 0;
}

.fifth .container {
  margin: 0 auto;
}

.fifth h2 {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  text-align: start;
  font-family: Poppins, sans-serif;
}

.fifth .grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fifth .grid-item {
  margin: 10px;
  text-align: center;
}

.fifth .grid-item img {
  max-width: 100%;
  height: auto;
}

.fifth .grid-item img {
  width: 100px;
  height: 100px;
}

.fifth .container {
  display: inherit;
}

.fifth .container span {
  color: #ff3c6e;
}

.image-grid {
  text-align: right;
  display: inline-grid;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 100%;
}

.single-image {
  grid-column: 3;
  padding: 15px 10px
}

.two-images {
  grid-column: 2 / span 2;
  grid-row: 2;
  margin: -20px 0 0;
}

.three-images {
  grid-column: 1 / span 3;
  grid-row: 3;
}

.image-grid img {
  /* border: 0.8px solid rgb(255, 94, 134); */
  border-radius: 10px;
  margin: 8px;
  width: 250px;
  height: auto;
  padding: 12px;
}

.two-images img:nth-last-child() {
  border: 0.8px solid rgb(94, 97, 255);
}

.image-grid .single-image img:nth-last-child(2) {
  border: none;
  padding: 0 150px;
}

img#title-to-developed {
  padding: 0 50px 150px 0;
  border-radius: 0;
  width: 450px;
}

.six {
  /* background: linear-gradient(180deg, rgba(231, 27, 106, 1) 0%, #EA4A6B 100%); */
  background: #FFC750;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  padding: 10px 20px;
}

.container .six{
  width: 100%;
}


.six p {
  font-size: 18px;
  text-align: justify;
  margin: 20px 0;
  color: #1E2024;
  font-weight: 100;
}

.six span {
  font-size: 2.2em;
  color: #1E2024;
}


.six .all-in.linear img {
  margin-left: 300px;
}

.seven {
  background-color: #121212;
  padding: 10px 20px;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
}

.seven p {
  text-align: justify;
  font-size: 15px;
  margin: 20px 0;
  font-weight: 100;
}

.seven span:first-child {
  font-size: 2.2em;
  line-height: 1.5em;
  font-weight: 900;
}

.seven .container {
  text-align: unset;
}

footer img {
  width: 200px;
}

footer {
  color: #000000;
}

.pg-footer {
  font-family: 'Poppins', sans-serif;
}

.footer {
  background-color: #ffffff;
}

.footer-wave-svg {
  background-color: transparent;
  display: block;
  height: 30px;
  position: relative;
  top: -1px;
  width: 100%;
  height: 50px;
}

.footer-wave-path {
  fill: #121212;
}

.footer-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 80px 20px 350px;
  position: relative;
}

.footer-content-column {
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 20%;
  color: #000000;
}


.footer-content-column ul li a {
  color: #000000;
  text-decoration: none;
}

.footer-logo-link {
  display: inline-block;
}

.footer-menu {
  margin-top: 30px;
}

.footer-menu-name {
  color: #000000;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.footer-menu-list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 0;
}

.footer-menu-list li {
  margin-top: 5px;
}

.footer-call-to-action-description {
  color: #000000;
  margin-top: 10px;
  margin-bottom: 20px;
}

.footer-call-to-action-button:hover {
  background-color: #000000;
  color: #00bef0;
}

.button:last-of-type {
  margin-right: 0;
}

.footer-call-to-action {
  margin-top: 30px;
}

.footer-call-to-action-title {
  color: #000000;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.footer-call-to-action-link-wrapper {
  margin-bottom: 0;
  margin-top: 10px;
  color: #000000;
  text-decoration: none;
}

.footer-call-to-action-link-wrapper a {
  color: #000000;
  text-decoration: none;
}

.footer-social-links {
  bottom: 0;
  height: 54px;
  position: absolute;
  right: 0;
  width: 236px;
}

.footer-social-amoeba-svg {
  height: 54px;
  left: 0;
  display: block;
  position: absolute;
  top: 0;
  width: 236px;
}

.footer-social-amoeba-path {
  fill: #000000;
}

.footer-social-link.linkedin {
  height: 26px;
  left: 3px;
  top: 11px;
  width: 26px;
}

.footer-social-link {
  display: block;
  padding: 10px;
  position: absolute;
}

.hidden-link-text {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  top: 50%;
}

.footer-social-icon-svg {
  display: block;
}

.footer-social-icon-path {
  fill: #ffffff;
  transition: fill .2s;
}

.footer-social-link.twitter {
  height: 28px;
  left: 62px;
  top: 3px;
  width: 28px;
}

.footer-social-link.youtube {
  height: 24px;
  left: 123px;
  top: 12px;
  width: 24px;
}

.footer-social-link.github {
  height: 34px;
  left: 172px;
  top: 7px;
  width: 34px;
}

.footer-copyright {
  background-color: rgba(255, 60, 110, 1);
  ;
  color: #5a2020;
  padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.footer-copyright-text {
  color: #130707;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
}

.footer-copyright-link {
  color: #fff;
  text-decoration: none;
}

/* Media query for tablets (up to 768px) */
@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
    padding: 40px;
  }

  .content {
    width: auto;
    font-family: 'Poppins', sans-serif;
  }

  .container {
    width: 80%;
  }

  .third .grid-container {
    grid-template-columns: 1fr;
  }

  .third .section-header {
    margin: 40px 0 10px;
  }

  .third .section-title {
    font-size: 2.5em;
  }

  .third .section-description {
    font-size: 16px;
  }

  .fourth .container {
    width: 80%;
  }

  .fifth h2 {
    font-size: 2.2rem;
  }

  .image-grid img {
    width: 150px;
  }

  .image-grid .single-image img:nth-last-child(2) {
    padding: 0;
  }

  .six p {
    font-size: 18px;
  }

  .six span {
    font-size: 2.5em;
  }

  .seven p {
    font-size: 16px;
  }

  .seven span:first-child {
    font-size: 2.2em;
  }

  .footer-content-column {
    width: inherit;
  }

}

/* Media query for mobile devices (up to 480px) */
@media screen and (max-width: 480px) {
  .hero {
    padding: 20px;
  }

  .content {
    width: auto;
    font-family: 'Poppins', sans-serif;
  }

  .deuxieme {
    padding: 20px;
  }

  .deuxieme .container {
    width: 100%;
  }

  .left {
    padding: 0;
  }

  .left span,
  .all-in span {
    font-size: 1.5rem;
  }

  .left span:nth-last-child(2) {
    margin: 0 0 10px;
  }

  .left p,
  .all-in p,
  .right p {
    font-size: 12px;
    line-height: 18px;
  }

  .right .contact-form {
    align-items: center;
  }

  .button-container {
    margin-top: 10px;
    align-self: center;
  }

  .additional-div {
    padding: 5px;
    margin-top: 10px;
  }

  .quote-saying {
    padding: 10px;
  }

  .quote-icon {
    font-size: 30px;
    padding: 0;
    margin: 0;
  }

  .container.with-quote span {
    margin-bottom: 0;
  }

  .container.with-quote span:nth-child(4) {
    color: #ff3c6e;
    margin: 10px 0 0;
  }

  .third .section-header {
    margin: 20px 0 10px;
  }

  .third .section-title {
    font-size: 2em;
  }

  .third .section-description {
    font-size: 14px;
  }

  .third .grid-item h3 {
    font-size: 1.5em;
  }

  .fourth h2 {
    font-size: 2.5em;
  }

  .fourth .container .all-in span {
    font-size: 2.2rem;
  }

  .fourth .grid-container {
    display: inherit;
  }

  .fourth .container .all-in span:nth-child(3) {
    font-size: 1.5rem;
  }

  .fourth .container .all-in p {
    font-size: 14px;
  }

  .fourth .grid-row {
    flex-direction: column;
  }

  .fourth .grid-item {
    width: auto;
  }

  .fourth .grid-item h3 {
    margin: 20px;
  }

  .fifth h2 {
    font-size: 1.8rem;
  }

  .image-grid img {
    width: 100px;
  }

  img#title-to-developed {
    padding: 0 25px 70px 0;
  }

  .six p {
    font-size: 16px;
  }

  .six span {
    font-size: 2em;
  }

  .seven p {
    font-size: 14px;
  }

  .seven span:first-child {
    font-size: 1.9em;
  }

  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 600px;
    position: relative;
  }

  .footer-wave-svg {
    height: 30px;
  }

  .footer-content-column {
    width: 100%;
  }
}